.cabeçalho {
    
    text-align: center;


}
.cabeçalho__texto {
    padding: 5em 0;
}

.cabeçalho__texto-nomedapagina {
    font-weight: 600;
    color: var(--vermelho-escuro);
}

.cabeçalho__texto-titulo {
    color: var(--azul);
    font-size: 48px;
    font-weight: 600;
    padding: 1.2em 0;
}

.cabeçalho__texto-descrição {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza-claro);
    margin: auto;
    width: 50%;
}


